{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block headding %}
<h1>DayEarn Home</h1>
{% if messages %} 
    {% for tin in messages %} 
    <li class="text-success fs-4">{{ tin }}</li>
    {% endfor %}
    {% endif %}
{% endblock headding %}


{% block content %}
    <h1 class="title">Here present introduction!</h1>
    <div class="container is-fluid">
    a few thing to show
    </div>
{% endblock content %}


{% block footer %}
    <strong>Linh</strong> foundation from 2002
{% endblock footer %}