{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block nutPhu %}
<a href="{% url 'ledger:supply_create' %}" class="btn btn-primary" role="button">Add Supply</a>
{% endblock nutPhu %}
  
{% block heading %}
    <h1> All Supplies
        <button class="edit-supply">
            <i class="bi bi-pencil fs-4"></i>
        </button>
    </h1>
{% endblock heading %}
  

{% block content %}
    {% if supply_list %}
    <ul>
        {% for item in supply_list %}
            <li>
                <button class="nut-item {% if item.is_wanted %}fs-2 text-success{% endif %}" 
                        data-url="{% url 'ledger:supply_is_wanted' item.id %}">
                    {{ item.title |title }} {{ item.quantity }}
                    <span class='add-cart'>{% if item.is_wanted %}<i class="bi bi-bag-check"></i>{% endif %}</span>
                    <span class="fs-6 text-secondary">{{ item.info }}</span>
                </button>
                <button class="delete-item fs-3" data-url="{% url 'ledger:supply_delete' item.id %}">
                    <i class="bi bi-trash3"></i>
                </button>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no supplies for now.</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0 ; i < cookies.length; i++ ) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length +1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length +1 ));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        
        $(document).ready(function(){
            $('.nut-item').on('click', function() {
                const button = $(this);
                const itemId = button.attr('data-item-id');
                const supplyUrl = button.data('url');
                $.ajax({
                    url: supplyUrl,
                    type: 'POST',
                    headers: {'X-CSRFToken': csrftoken},
                    success: function(data) {
                        if (data.success) {
                            if (data.is_wanted) {
                                button.addClass('fs-2 text-success');
                                button.find('.add-cart').html('<i class="bi bi-bag-check"></i>');
                            } else {
                                button.removeClass('fs-2 text-success');
                                button.find('.add-cart').html('');
                            }
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        if (xhr.responseJSON && xhr.responseJSON.error) {
                            alert(xhr.responseJSON.error);
                        } else {
                            alert("Can't turn priority");
                        }
                    }
                });
            });

            let showDelete = false;
            
            if (!showDelete){
                $('.delete-item').hide()
            }
            $('.edit-supply').on('click', function() {
                showDelete = !showDelete;
                
                if (showDelete) {
                    $('.delete-item').show();
                    $(this).find('i').addClass('text-danger');
                } else {
                    $('.delete-item').hide();
                    $(this).find('i').removeClass('text-danger');
                }
            });

            $('.delete-item').on('click', function() {
                const nutXoa = $(this);
                const urlSupply = nutXoa.data('url');
                $.ajax({
                    url: urlSupply,
                    type: 'POST',
                    headers: {'X-CSRFToken': csrftoken},
                    success: function(data) {
                        if (data.success) {
                            nutXoa.closest('li').remove();
                            alert('Item removed from data');
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        alert("Can't remove item yet.")
                    }
                });
            });

        });
        
    </script>
    <style>
        .nut-item {
            border: none;
            background: none;
        }
        .bi.bi-trash3 {
            color: red;
        }
        .delete-item {
            border: none;
            background: none;
        }
        .edit-supply {
            border: none;
            background: none;
        }
    </style>
{% endblock content %}


