{% extends 'base.html' %}
{% comment %} {% static "index.js" %} {% endcomment %}

{% block nutChinh %}
        <a class="nav-link" href="{% url 'ledger:add_employee' %}">Add Tech</a>
{% endblock nutChinh %}

{% block content %}
{% if not user.is_authenticated %}
<div>
    <a href="{% url 'ledger:register' %}">Register Account</a>
</div>
{% endif %}

<div class="container text-center">
  <div class="row row-cols-auto">
    {% for employee in employees %}
    {% if employee.isWork %}
    <div class="cols-auto">
      <button class="tech-button" style="background-color:green" id="em_{{employee.id}}">
        <div class="card-body">
             <h5 class="card-title align-text-top"> {{ employee.name | title }}</h5>
          <span class="card-subtitle align-content-center">{{ employee.time_come_in }}</span></br>
          <span class="align-bottomr"> {{ employee.total_services_done | default:0 }} Service</span>
      </div>
      </button>
    </div>
    
    {% endif %}
    {% endfor %}
  <hr style="border: 1px solid black; width: 100%; margin: 20px 0;">
  {% for employee in employees %}
  {% if not employee.isWork %}
  <div class="cols-auto">
    <button class="tech-button" style="background-color:gray" id="em_{{employee.id}}">
      <div class="card-body">
           <h5 class="card-title align-text-top"> {{ employee.name | title }}</h5>
        <span class="card-subtitle align-content-center">Off</span></br>
    </div>
    </button>
  </div>
  
  {% endif %}
  {% endfor %}
  </div>
</div>   
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.tech-button').click(function() {
          var techId = $(this).attr('id').split('_')[1];
          var button = $(this);
          $.ajax({
            url: '{% url "ledger:update_tech_status" %}',
            type: 'POST',
            data: {
              'tech_id': techId,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
              if (response.success) {
                button.css('background-color', response.color);
                button.find('.card-subtitle').text(response.isWork ? 'Came at: ' + response.time_come_in : "Off");
                
                if (response.isWork){
                  var clone = button.closest('.cols-auto').clone();
                  button.closest('.cols-auto').remove();
                  $('.row.row-cols-auto hr').before(clone);
                } else {
                  var clone = button.closest('.cols-auto').clone();
                  button.closest('.cols-auto').remove();
                  $('.row.row-cols-auto hr').after(clone);
                }
              } else {
                alert(response.error);
              }
            }
          });
        });
      });
    </script>

{% endblock content %}
    
{% block footer %}
    {% comment %} <a class="btn btn-primary" href="{% url 'password_change' %}">Change Password</a> {% endcomment %}
{% endblock footer %}
