{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block heading %}
    <h1>All Supplies</h1>
{% endblock heading %}


{% block content %}
    {% if supply_list %}
    <ul>
        {% for item in supply_list %}
            <li>
                <div class="fs-3">{{ item.title |title }}</div>
                <span class="text-secondary">{{ item.info }}</span>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no supplies for now.</p>
    {% endif %}
{% endblock content %}
