{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load humanize %}

{% block headding %}
<h1>DayEarn Chat Room</h1>
{% endblock headding %}


{% block content %}
    <h1 class="title">Greeting !!</h1>
    <div class="container is-fluid">
    Greeting to {{ client.full_name }}
    </div>


    {% for talk in page_obj %}
    <div> <a class="text-decoration-none link-offset-2 link-underline link-underline-opacity-0" href="{% url 'ledger:chat_detail' talk.id %}">
        {{ talk }} 
    </a>
        <p>
            {% if talk.owner == user %}
            @Manager
            {% else %}
            {{ talk.client_name }}
            {% endif %}
            <span class="fw-light text-secondary">{{ talk.created_at | naturaltime }}</span>
        </p>
    </div>
    {% endfor %}
  

    <form action="{% url 'ledger:chat_create' client.id %}" method="post">
        {% csrf_token %}
        <div class="form-floating col-md-3 align-items-center">
        <div class="col-auto ">
      
            {{ chat_form | crispy }}
            
    </div>
</div>
        <button type="submit" class="btn btn-primary w-25">Post</button>
        <button type="submit" class="btn btn-secondary" onclick="window.location='{% url 'ledger:index' %}'; return false; ">Cancel</button>
    
    </form>  

     <!-- Pagination controls -->
   <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <li class="page-item disabled"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}


{% block footer %}
    <strong>Feed back make we strong</strong> foundation from 2002
{% endblock footer %}
