{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load humanize %}
{% load static %}


{% block headding %}
<h1 class="text-info">Elegant Nails & Spa Greeting to {{ chat.nickName }}</h1>
{% endblock headding %}


{% block content %}
    <div class="fs-4">
        {{ chat.text }} <span class="fw-light text-secondary">{{ chat.created_at | naturaltime }}</span>
    </div>
        <p>
            {% if chat.owner == user %}
            @Manager
            {% else %}
            {{ chat.nickName }}
            {% endif %}
        </p>
    <h3>Replies:</h3>
   {% for reply in replies %}
    <div>

            {{ reply.text }}
                {% if reply.client_id == khach_id %}
                    <button class="delete-chat" 
                        data-chat-id="{{ reply.id }}" 
                        data-url="{% url 'ledger:chat_delete' reply.id %}">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    {% endif %}
            <p>
            <button class="like-button {% if reply.current_khach_like %}liked{% endif %}"
                    data-chat-id="{{ reply.id }}"
                    data-url="{% url 'ledger:chat_detail_like' reply.id %}">
                    <i class="fas fa-heart"></i>
            </button>
            <span class="like-count">{{ reply.total_likes }}</span>
            <span class="fw-light text-secondary">    {% if reply.owner == user %}
                    @Manager
                {% else %}
                    by: {{ reply.nickName }}
                {% endif %}
                {{ reply.created_at | naturaltime }}</span>
            </p>
        
    </div>
    <hr>
   {% endfor %}

    <form method="post">
        {% csrf_token %}
        <div class="form-floating col-md-3 align-items-center">
        <div class="col-auto ">
      
            {{ chat_form | crispy }}
            
    </div>
        <button type="submit" class="btn btn-primary w-25">Reply</button>
        <button type="submit" class="btn btn-secondary" onclick="window.location='{% url 'ledger:chat_room' khach_id %}'; return false; ">Back</button>
    </div>
    </form>  

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/chat.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock content %}


{% block footer %}
    <strong>Feed back make we strong</strong> foundation from 2002
{% endblock footer %}