{% extends 'base.html' %}
{% comment %} {% static "index.js" %} {% endcomment %}

{% block nutChinh %}
        <a class="nav-link" href="{% url 'ledger:add_employee' %}">Add Tech</a>
{% endblock nutChinh %}

{% block content %}
{% if not user.is_authenticated %}
<div>
    <a href="{% url 'ledger:register' %}">Register Account</a>
</div>
{% endif %}

<div class="container text-center">
  <div class="row row-cols-auto">
    {% for employee in employees %}
    <div class="col">
      <button class="btn btn-success" style="width: 16rem;" id="em_{{employee.name}}">
        <div class="card-body">
             <span class="card-title"> {{ employee.name }}</span>
        </div>
      </button>
    </div>
    {% endfor %} 
  </div>
</div>   
    <hr>





{% endblock content %}
    
{% block footer %}
    <a class="btn btn-primary" href="{% url 'password_change' %}">Change Password</a>
{% endblock footer %}
