{% extends 'base.html' %}

{% block nutChinh %}
<a class="nav-link" href="{% url 'ledger:add_service' %}">Add Service</a>
{% endblock nutChinh %}


{% block headding %}
<h1 class="title">All Services</h1>
{% endblock headding %}


{% block content %}
{% if dvu %}

<div class="container text-center">
    <div class="row row-cols-auto">
        {% for ser in dvu %}
        <div class="col"><span class="fs-4 text-capitalize text-primary">{{ ser.service }}</span><br>$ {{ser.price}}
            <p>{{ ser.time_perform }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
<div>
    All your services will list here.
</div>
{% endif %}
{% endblock content %}
    