<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>try with js</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <small class="text">Help Text</small>
        <div class="btn-group-vertical" role="group" aria-label="">
            <button type="button" class="btn btn-secondary">First One</button>
            <button type="button" class="btn btn-secondary">Second One</button>
            <div class="btn-group" role="group">
                <button
                    id="dropdownId"
                    type="button"
                    class="btn btn-secondary dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    More
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">First Dropdown</a>
                    <a class="dropdown-item" href="#">Second Dropdown</a>
                </div>
            </div>
        </div>
        
    </body>
</html>


