{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block heading %}
<h1>Elegant Nails & Spa Chat Room Greeting to {{ user.username }}</h1>
{% endblock heading %}


{% block content %}
    {% for talk in page_obj %}
    <div>
        <a class="text-decoration-none link-offset-2 link-underline link-underline-opacity-0" href="{{ talk.get_detail_url }}">
            <span class="chat-text {% if talk.isNew %}fw-bold{% endif %}">{{ talk.text }} </span>
        </a>
        <p>
            <button class="like-button {% if talk.current_owner_like %}liked{% endif %}"
                data-chat-id="{{ talk.id }}"
                data-url="{% url 'ledger:user_chat_like' talk.id %}">
                <i class="bi bi-heart-fill"></i>
        </button>
        <span class="like-count">
            {{ talk.total_likes }}
        </span>

        <span class="reply-count">
            <i class="bi bi-chat"></i> {{ talk.get_reply_count }}
        </span>
            {% if talk.owner == user %}
            @Manager
            {% else %}
            {{ talk.client_name }}
            {% endif %}
            <span class="fw-light text-secondary">{{ talk.created_at }}</span>
        </p>
    </div>
    {% endfor %}
   
    <form action="{% url 'ledger:user_chat_create' %}" method="post">
        {% csrf_token %}
        <div class="form-floating col-md-3 align-items-center">
        <div class="col-auto ">
      
            {{ chat_form | crispy }}
            
    </div>
</div>
        <button type="submit" class="btn btn-primary w-25">Post</button>
        <button type="submit" class="btn btn-secondary" onclick="window.location='{% url 'ledger:index' %}'; return false; ">Cancel</button>
    
    </form>  
    
   <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <li class="page-item disabled"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/chat.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock content %}


{% block footer %}
    <strong>Feed back make we strong</strong> foundation from 2002
{% endblock footer %}