{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block heading %}
<h1>Chat Room Greeting to {{ user.username }}</h1>
{% endblock heading %}


{% block content %}
    <div class="fs-4">
        {{ chat.text }} <span class="fw-light text-secondary">{{ chat.created_at }}</span>
        <span class="view-count"> <i class="bi bi-bar-chart"></i> {{ chat.view_count }}</span>
        <p>
            {% if chat.owner == user %}
            @Manager
            {% else %}
            {{ chat.client_name }}
            {% endif %}
        </p>
    </div>
        
    <h3>Replies:</h3>
    <p class="text-warning" style="filter: blur(0.2px)">
        Do not post full client names. Only the first 3 letters should be shown. (example: {{chat.nickName}})
    </p>
   {% for reply in replies %}
    <div>
        <p>{{ reply.text }}</p>
        
            <p>
                <button class="like-button {% if reply.current_owner_like %}liked{% endif %}"
                data-chat-id="{{ reply.id }}"
                data-url="{% url 'ledger:user_chat_like' reply.id %}">
                <i class="bi bi-heart-fill"></i>
        </button>
        <span class="like-count">{{ reply.total_likes }}</span>
        <span class="view-count"> <i class="bi bi-bar-chart"></i> {{ reply.view_count }}</span>
                <span class="fw-light text-secondary"> {% if reply.owner == user %}
                    @Manager
                    {% else %}
                    {{ reply.client_name }}
                {% endif %}
                {{ reply.created_at }}</span>
            </p>
    </div>
   {% endfor %}

    <form method="post">
        {% csrf_token %}
        <div class="form-floating col-md-3 align-items-center">
        <div class="col-auto ">
      
            {{ chat_form | crispy }}
            
    </div>
        <button type="submit" class="btn btn-primary w-25">Reply</button>
        <button type="submit" class="btn btn-secondary" onclick="window.location='{% url 'ledger:user_chat_room' %}'; return false; ">Back</button>
    </div>
    </form>  

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/chat.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock content %}


{% block footer %}
    <strong>Feed back make we strong</strong> foundation from 2002
{% endblock footer %}