{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nutChinh %}

{% endblock nutChinh %}

{% block headding %}
    
    {% if messages %} 
        {% for tin in messages %} 
        <div class="fs-3 text-success">
            {{ tin }}</div>
        {% endfor %}
    {% else %}
        <h1 class='text-info'>Welcome to our salon!</h1>
    {% endif %}
{% endblock headding %}


{% block content %}
<form method='post' >
    {% csrf_token %}
    <div class="table-responsive">
        <div class="form-group col-md-4">
            {{ form | crispy }}
        </div>
        <input type='submit' value='Submit' class="btn btn-primary w-25" role="button">
        <input type='submit' onclick="window.location='{% url 'ledger:index' %}'; return false; " value='Cancel' class="btn btn-muted" role="button">
    </div>
    
</form>

{% endblock content %}


{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
