{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nutChinh %}
<a class="nav-link" href="{% url 'datHen:listHen' %}"><h1 class='title'>Back</h1></a>
{% endblock nutChinh %}

{% block nutPhu %}
    {% if client %}
        <a href="{{ client.get_absolute_url  }}" class="btn btn-primary" role="button" >Reschedule</a>
    {% endif %}
{% endblock nutPhu %}

{% block heading %}
    <h1 class='title'>You're about to cancel your Appoinment?</h1>
    <div>
        Please review the information below before confirming the cancellation.
    </div>
{% endblock heading %}


{% block content %}
<div>
    {% if client %}
    <h5>Name: {{ client.full_name }} </h5><span>{{ client.phone_formatted }}</span>
    <div>
        Last Appoinment:
        {{ client.day_comes }} at <strong>{{ client.time_at }}</strong>
    </div>
    <div>
        With: <strong>{{ client.technician }}</strong>
    </div>
    <div>
        Services:
        {% for service in client.services.all %}
        <li> {{ service.service }}</li>
        {% endfor %}
    </div>
    
     
    {% endif %}
</div>
<form action='' method='post'>
    {% csrf_token %}
    <div class="table-responsive">
        
        <input type='submit' value='Confirm' class="btn btn-primary" role="button">
        <input type='submit' onclick="window.location='{% url 'ledger:index' %}'; return false; " value='Cancel' class="btn btn-muted" role="button">
    </div>
</form>
    
{% endblock content %}


{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
