{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nutChinh %}

{% endblock nutChinh %}

{% block headding %}
    <h1 class='title'>Dat hen user view</h1>
    
{% endblock headding %}


{% block content %}
<form method='post' >
    {% csrf_token %}
    <div class="table-responsive">
            
        <div class="form-group col-md-4">
            {{ form | crispy }}
        </div>

        
        <input type='submit' value='Book' class="btn btn-primary" role="button">
        <input type='submit' onclick="window.location='{% url 'datHen:listHen' %}'; return false; " value='Cancel' class="btn btn-muted" role="button">
    </div>
    
</form>

{% endblock content %}


{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
