{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block nutChinh %}
        <a class="nav-link" href="{% url 'datHen:first_step' %}"><span>New Client</span></a>

        <a class="nav-link" href="{% url 'datHen:user_find_client' %}"><span>Been here</span></a>
        
{% endblock nutChinh %}

{% block nutPhu %}

<!-- Add date navigation -->
<div class="date-navigation">
    <a href="?date={{ prev_day|date:'Y-m-d' }}" class="btn btn-info">Previous</a>
    <span class="current-date">{{ selected_date|date:'l' }}</span>
    <!-- <span class="fs-6 text-secondary">{{ selected_date|date:'F d' }}</span> -->
    <a href="?date={{ next_day|date:'Y-m-d' }}" class="btn btn-info">Next</a>
</div>
{% endblock nutPhu %}


{% block headding %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock headding %}


{% block content %}

<div class="container_tech">
    {%for tech in allTech %}
    <div class="col-md-2 align-text-top" id="tech">
        <span class="fs-3" >
            <a href="{% url 'ledger:vacation' tech.id %}" class="btn btn-primary" role="button" > {{ tech.name | title }}</a>
        </span>
            {%for khach in tech.clients %}
                <div class="card" style="width: 14rem;" id="client_{{khach.full_name}}">
                    <div class="card-body">
                        <h5 class="card-title text-info">{{ khach.full_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">At: <span class="fs-5">{{ khach.time_at }}</span></h6>
                        <p class="card-text">
                                <span class="badge {% if khach.status == "Anyone" %} bg-warning 
                                {% elif khach.status == 'Cancel' %} bg-danger
                                {% else %} bg-success
                                {% endif %} text-wrap fs-6" style="width: 10rem;">
                                        With: {{ khach.technician | title }}
                                        {%if khach.status == "Anyone" %}
                                    <br>Alternate: {{ khach.status }}
                                            {% elif khach.status == 'Cancel' %}
                                    <br>Was {{ khach.status }}ed
                                            {%endif%}
                                </span>
                        </p>
                        Get: {% if khach.services %}
                        {% for dichvu in khach.services.all %}
                        <li>{{ dichvu | title }} </li>
                        {% endfor %}
                        {% endif %} 
                    </div>
                </div>
        {%endfor%}
    </div>
    {%endfor%}
    
</div>

        <style type="text/css">
            div.container_tech {
                height: auto;
                text-align: top;
                overflow: auto;
                white-space: nowrap;
              }
              
              div.container_tech #tech {
                display: inline-block;
                text-align: top;
                padding: 1px;
                text-decoration: none;
              }
              div.card {
                margin: 2px;
                padding: 3px;
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #f9f9f9;

                height: auto;
                text-align: center;
                overflow: auto;
                white-space: nowrap;
              }

              div.card-body {
                padding: 1px;
                text-align: center;
                overflow: auto;
                white-space: nowrap;
            }

        </style>

        
{% endblock content %}



{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
{% comment %} https://x.com/i/grok/share/3nzx9SYAa4m3mxu4eKektNw33 {% endcomment %}