{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}


{% block heading %}
    <title>Appointment Confirmation</title>
{% endblock heading %}

{% block content %}
    <p>Dear {{ client.full_name |title }},</p>
    <p>Thank you for booking with us!</p>
    <p>Your appointment is set for:</p>
    <ul>
        <li><strong>Date:</strong> {{ client.day_comes }}</li>
        <li><strong>Time:</strong> {{ client.time_at }}</li>
        <ul><strong>Services:</strong> {% for ser in client.services.all %}
            <li>{{ ser |title }}</li>
        {% endfor %}
        </ul>
        <li><strong>Technician:</strong> {{ client.technician |title }}</li>
    </ul>
    <p>If you need to make changes to your appointment, please go to "Check Appt" on website.</p>
    
{% endblock content %}

{% block footer %}
    <p>Best regards,</p>
{% endblock footer %}