{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}



{% block nutChinh %}
{% endblock nutChinh %}

{% block headding %}
    <h1 class='title'>Exist Client's Schedule Third Step</h1>
    
    {% if messages %} 
    {% for tin in messages %} 
    <li class="tinnhan">{{ tin }}</li>
    {% endfor %}
    {% endif %}
{% endblock headding %}


{% block content %}

    <h1>Technician: {{ tech }}</h1>
    <h1>Day comes: {{ ngay | naturalday }}</h1>
  
   
      {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
    {% endif %}
      <form action='' method='post'>
        {% csrf_token %}
        <div class="table-responsive">
                
              <div class="col-md-4 mb-3">
                <select class="form-select" name="time_at" id="id_time_at" aria-label="Default select example">
                  
                  <option selected>Pick your time:</option>
                  {% for tieng in available %}
                  <option value="{{tieng.hour }}:{{tieng.minute }}">{{tieng.hour }} : {{tieng.minute }}</option>
                  {% endfor %}
                </select>
            </div>

              <div class="form-group col-md-4 mb-3">
                {{ form.email | as_crispy_field }}
              </div>

              <div class="form-group col-md-4 mb-3">
                <span class="text-secondary">For alternate choice Status - Anyone</span>
                {{ form.status | as_crispy_field }}
              </div>

              <button class="btn btn-primary w-25" type='submit'> Take </button>
              <button type='submit' class="btn btn-secondary" onclick="window.location='{% url 'ledger:index' %}'; return false; ">Cancel</button>
            
        </div>
        
    </form>
      
{% endblock content %}



{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
