{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nutChinh %}
<a class="nav-link" href="{% url 'datHen:listHen' %}"><h1 class='title'>Back</h1></a>
{% endblock nutChinh %}

{% block headding %}
    <h1 class='title'>Reservation</h1>
    
{% endblock headding %}


{% block content %}
    <form action='' method='get'>
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-primary">
                <div class="form-group col-md-4">
                {{ formDatHen | crispy }}
                </div>
            </table>
            <input type='submit' value='Find'>
            <input type='submit' onclick="window.location='{% url 'ledger:index' %}'; return false; " value='Cancel' >
        </div>
        <div>
            {% comment %} Ngay Hen: {{ formDatHen.ngayhen }} {% endcomment %}
        </div>
    </form>
</br>
    <div>
        {% if khach %}
        Found :
        {% for mot in khach.all %}
        <li><a href="{{ mot.get_absolute_url }}"> {{ mot }} </a></li>
        {% comment %} <li><a href="{% url 'datHen:khach_detail' mot.id %}"> {{ mot }} </a></li> {% endcomment %}
         {% endfor %}
         {% else %} <p>None found</p>
        {% endif %}
    </div>
{% endblock content %}


{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
