{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block nutChinh %}
{% endblock nutChinh %}

{% block heading %}
    <h1 class='title'>If you like alternate nail tech in case of...</h1>
    <h4>you can change the <span class="text-danger">Status to "Anyone"</span></h4>
    {% if messages %} 
    {% for tin in messages %} 
    <li class="tinnhan">{{ tin }}</li>
    {% endfor %}
    {% endif %}
{% endblock heading %}


{% block content %}
<h5>Your technician: <strong>{{ tech | title }}</strong></h5>
    <h5>Day coming: <strong>{{ ngay | date:"F d" }}</strong></h5>
    
    <div class="work-schedule">
      <div>Services Picked:</div>
    </div>
      
      {% for service in allServices %}
      <div>
  <li><strong>{{ service | title }}</strong> </strong></li>
  {% endfor %}
      
    </div>
<br>
      {% if unavailability %}
      <div class="alert alert-warning" role="alert">
        {{ unavailability.message }}
      </div>
      {% endif %}
   
      {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
    {% endif %}
    <form action='' method='post' onsubmit="disableSubmitButton(this);">
        {% csrf_token %}
        {% for service in allServices %}
        <input type="hidden" name="service_ids" value="{{ service.id }}">
        {% endfor %}
        <input type="hidden" name="technician" value="{{ tech.id }}">
        <div class="table-responsive">
                
              <div class="col-md-4 mb-3">
                <select class="form-select" name="time_at" id="id_time_at" aria-label="Default select example" {% if not available %}disabled{% else %}required{% endif %}>
                  <option value="" disabled selected>Pick your time:</option>
                  {% for tieng in available %}
                  <option value="{{ tieng|time:'H:i' }}">{{ tieng|time:"g:i A" }}</option>
                  {% endfor %}
                </select>
            </div>

              <div class="form-group col-md-4 mb-3">
                {{ form.email | as_crispy_field }}
              </div>

              <div class="form-group col-md-4 mb-3">
                {{ form.status | as_crispy_field }}
              </div>

              {% if available %}
              <button class="btn btn-primary w-25" type='submit' id="submit-button"> Take </button>
              {% endif %}
              <button type='button' class="btn btn-secondary" onclick="window.location='{% url 'datHen:technician_detail_exist' tech.id %}'; return false; ">Pick Another Date</button>
              <button type='button' class="btn btn-secondary" onclick="window.location='{% url 'ledger:index' %}'; return false; ">Cancel</button>

        </div>
        
    </form>
      
        <script>
      function disableSubmitButton(form) {
        const submitButton = form.querySelector('#submit-button');
        submitButton.disabled = true;
        submitButton.innerText = "Submitting...";
      }

    </script>
{% endblock content %}



{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
