{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nutChinh %}

{% endblock nutChinh %}

{% block headding %}
    <h1 class='title'>Reschedule your appoinment or <span class="text-danger" >Cancel</span>:</h1>
    <div>
        {% if khach %}
        {% for mot in khach.all %}
        <p><label class="form-label text-success">Hi {{ mot.full_name }} would you like to</label></p>
        <div class="d-inline-flex gap-2">
            
            <a href="{{ mot.get_absolute_url  }}" class="btn btn-primary" role="button" >Reschedule</a>
        {% if mot.do_cancel %}
                <a href="{{ mot.get_cancel_url }}" class="btn btn-danger" role="button" >Cancel Appointment</a>
            {% endif %}
            <a href="{{ mot.get_chat_url }}" class="btn btn-primary" role="button" >Leave Feedback</a>
        
    </div>
         {% endfor %}
        {% endif %}
    </div>
{% endblock headding %}


{% block content %}
    {% if not khach %}
        <form action='' method='get'>
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-primary">
                    <div class="form-group col-md-4">
                    {{ formDatHen | crispy }}
                    </div>
                </table>
                <input type='submit' value=' Find' class="btn btn-info w-25" role="button">
                <input type='submit' onclick="window.location='{% url 'datHen:listHen' %}'; return false; " value='Cancel' class="btn btn-muted" role="button">
            </div>
        </form>

    {% endif %}
{% endblock content %}


{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
