{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block nutChinh %}
{% comment %} <a class="nav-link" href="{% url 'datHen:schedule' %}"><h1 class='title'>New Client</h1></a>
<strong>|</strong>
<a class="nav-link" href="{% url 'datHen:exist_client' %}"><h1 class='title'>Been here</h1></a> {% endcomment %}
{% endblock nutChinh %}

{% block headding %}
    <h1 class='title'>Client's Schedule One</h1>
    {% if messages %} 
    {% for tin in messages %} 
    <li>{{ tin }}</li>
    {% endfor %}
    {% endif %}
{% endblock headding %}


{% block content %}


    <h1>Favor one?</h1>
    
     
    <div class="container text-center">
        <div class="row row-cols-auto">
            {% for employee in tech %}
          <div class="col">
            <a href="{{ employee.get_absolute_url }}" id="tech-item">
                {% if employee.picture %}
                    <img src="{{ employee.picture.url }}" alt="{{ employee.name }}" style="width: 120px; height: 120px; object-fit: cover;" id="tech-pic">
                    {% else %}
                    <img src="{{ STATIC_URL }}path/to/default-image.jpg" alt="No Image" style="width: 50px; height: 50px;" id="tech-pic">
                {% endif %}
                <div id="tech-name">{{ employee.name }} </div>
            </a>
            </div>
            {% endfor %}
        </div>
      </div>
    
{% endblock content %}

<style>
    tech-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }
    tech-pic{
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    tech-name{
        margin-top: 8px;
        font-size: 14px;
    }
</style>

{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
