{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block nutChinh %}

{% endblock nutChinh %}

{% block headding %}
    <h1 class='title'>Our technician</h1>
    {% if messages %} 
    {% for tin in messages %} 
    <li>{{ tin }}</li>
    {% endfor %}
    {% endif %}
{% endblock headding %}


{% block content %}


    <h1>Please choose your technician</h1>
    <h4>You can assign to status to Anyone later</h4>
    
    <div class="container text-center">
        <div class="row row-cols-auto">
            {% for employee in tech %}
          <div class="col">
            <a href="{{ employee.get_absolute_url }}" id="tech-item" class="text-decoration-none link-offset-2 link-underline link-underline-opacity-0">
                {% if employee.picture %}
                    <img src="{{ employee.picture.url }}" alt="{{ employee.name }}" style="width: 120px; height: 120px; object-fit: cover; " id="tech-pic">
                    {% else %}
                    <img src="{{ STATIC_URL }}path/to/default-image.jpg" alt="No Image" style="width: 50px; height: 50px;" id="tech-pic">
                {% endif %}
                <div id="tech-name">{{ employee.name | title }} </div>
            </a>
            </div>
            {% endfor %}
        </div>
      </div>
      <style type="text/css">
        #tech-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: inherit;
            padding: 7px;
        }
        #tech-pic{
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 20%;
    
        }
        #tech-name{
            margin-top: 5px;
            font-size: 16px;
        }
    </style>
{% endblock content %}



{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
