{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block nutChinh %}
{% comment %} <a class="nav-link" href="{% url 'datHen:schedule' %}"><h1 class='title'>New Client</h1></a>
<strong>|</strong>
<a class="nav-link" href="{% url 'datHen:exist_client' %}"><h1 class='title'>Been here</h1></a> {% endcomment %}
{% endblock nutChinh %}

{% block headding %}
    <h1 class='title'>Client's Schedule One</h1>
    {% if messages %} 
    {% for tin in messages %} 
    <li>{{ tin }}</li>
    {% endfor %}
    {% endif %}
{% endblock headding %}


{% block content %}


    <h1>Favor one?</h1>
    
     
    {% for employee in tech %}
    <div>
        <a href="{{ employee.get_absolute_url }}"> {{ employee.name }} </a>
    </div>
     {% endfor %}
{% endblock content %}



{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
