{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block nutChinh %}
<a class="navbar-item" href="{% url 'datHen:listHen' %}"><h1 class='title'>Back</h1></a>
{% endblock nutChinh %}
{% block headding %}
    <h1 class='title'>Reservation</h1>
    
{% endblock headding %}


{% block content %}
    {% comment %} {% if allTech %}
        {% for tech in allTech %}
        
       <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="card-link">
                    <h3 class="card-title">{{ tech.name }}</h3>
                    <p class="card-text">Pic</p>
                    </a>
                </div>
            </div>
        </div>
               
        {% endfor %}
    {% endif %} {% endcomment %}
    <form action='' method='post'>
        {% csrf_token %}
        <div class="table-responsive">
            <div class="form-group tech">
                {{ formDatHen.technician | as_crispy_field }}
                
              </div>
              <div class="tech-clients"> </div>

              <div class="form-group">
                {{ formDatHen.services | as_crispy_field }}
              </div>

              <div class="form-group col-md-6 mb-0">
                {{ formDatHen.full_name | as_crispy_field }}
              </div>

              <div class="form-group col-md-6 mb-0">
                {{ formDatHen.phone | as_crispy_field }}
              </div>

              <div class="form-group col-md-6 mb-0">
                {{ formDatHen.email | as_crispy_field }}
              </div>

              <div class="form-group col-md-6 mb-0">
                {{ formDatHen.day_comes | as_crispy_field }}
              </div>

              <div class="form-group col-md-6 mb-0">
                {{ formDatHen.time_at | as_crispy_field }}
              </div>

              <div class="form-group col-md-6 mb-0">
                {{ formDatHen.status | as_crispy_field }}
              </div>
            
            <input type='submit' value='Take'>
            <input type='submit' onclick="window.location='{% url 'ledger:index' %}'; return false; " value='Cancel' >
        </div>
        <div>
            {% comment %} Ngay Hen: {{ formDatHen.ngayhen }} {% endcomment %}
        </div>
    </form>
{% endblock content %}


{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
