{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}



{% block nutChinh %}

{% endblock nutChinh %}

{% block headding %}
    <h1 class='title'>Client's Schedule Second Step</h1>
    {% if messages %} 
    {% for tin in messages %} 
    <li class="tinnhan">{{ tin }}</li>
    {% endfor %}
    {% endif %}
{% endblock headding %}


{% block content %}

    <h1>Technician: {{ tech }}</h1>
      
      <form action="{% url 'datHen:service_choice' %}" method='get'>
        {% csrf_token %}
        <div class="table-responsive">
                
          <div class="form-group col-md-4">
                {{ secondForm.day_comes | as_crispy_field }}
              </div>

              <input type='submit' onclick="window.location='{% url "datHen:first_step" %}'; return false; " value='Back' >
            <input type='submit' value='Next'  >
            
        </div>
        
    </form>
    
{% endblock content %}


{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
  

