{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block nutChinh %}
{% endblock nutChinh %}

{% block headding %}
    <h1 class='title'>Please Choice your Services:</h1>
    
{% endblock headding %}


{% block content %}
<h1>All services:</h1>
    

    <form action="{% url 'datHen:third_step_exist' %}" method='get' id="ser_item">
        {% csrf_token %}
        <div class="table-responsive">
            <div class="container mt-4">
                <div class="row">
                    {% for field in form %}
                        <div class="col-md-6 mb-4">
                            
                            <div class="card-body">
                                
                                <p class="card-text">
                                    {% for choice in field.field.queryset %}
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" name="dichvu" value="{{ choice.id }}" class="form-check-input">
                                            <span class="checkmark"></span>
                                            <strong>{{ choice | title }}</strong> - 
                                                <span class="text-secondary">{{ choice.description }} </span>
                                            
                                                
                                        </label>
                                    </div>
                                </p>
                                {% endfor %}
                            </div>
                            
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
              <input type='submit' onclick="window.location='{% url 'ledger:index' %}'; return false; " value='Back' class="btn btn-primary">
            <input type='submit' value='Next ->' class="btn btn-info" >
            
       
        
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('ser_item').addEventListener('submit', function(event) {
                var checkboxes = document.querySelectorAll('input[name="dichvu"]:checked');
                if (checkboxes.length === 0) {
                    alert("Please choose at least one service.");
                    event.preventDefault();
                }
            });
        });
    </script>
    
{% endblock content %}

{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
