{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block nutChinh %}
{% endblock nutChinh %}

{% block headding %}
    <h1 class='title'>Please Choice your Services:</h1>
    
{% endblock headding %}


{% block content %}


    <h1>Favor Technician ?</h1>
    <div>
        Services Pick:
        <div>
        {% for serv in dv %} 
            <p> {{ serv }} </p>
         {% endfor %}
        </div>
    </div>

    <form action="{% url 'datHen:third_step_exist' %}" method='get' id="ser_item">
        {% csrf_token %}
        <div class="table-responsive">
                
            <div class="form-group col-md-4">
                {{ form.dichvu }}
            </div>

              <input type='submit' onclick="window.location='{% url 'ledger:index' %}'; return false; " value='Back' >
            <input type='submit' value='Next'  >
            
        </div>
        
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('ser_item').addEventListener('submit', function(event) {
                var checkboxes = document.querySelectorAll('input[name="dichvu"]:checked');
                if (checkboxes.length === 0) {
                    alert("Please choose at least one service.");
                    event.preventDefault();
                }
            });
        });
    </script>
    
{% endblock content %}

{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 
