{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}



{% block nutChinh %}
{% endblock nutChinh %}

{% block headding %}
    <h1 class='title'>Client's Schedule Third Step</h1>
    
    
{% endblock headding %}


{% block content %}

    <h1>Technician: {{ tech }}</h1>
    <h1>Day comes: {{ ngay | naturalday }}</h1>
    <h1>hom nay: {{ hnay }}</h1>
    <div class="work-schedule">
      <h1>hom nay: {{ tongThoigian }}</h1>
      <div>Services Picked:</div>
      {% for service in allServices %}
      
  <li><strong>{{ service.service }}</strong> </strong></li>
  {% endfor %}
      
    </div>

    <div class="work-schedule">
        <div>Work schedule:</div>
        {% for khach in hen %}
        
    <li><span>From: </span><strong>{{ khach.time_at }}</strong> on {{ khach.day_comes | naturalday }} , Done at: <strong>{{ khach.get_done_at }}</strong></li>
    {% endfor %}
        
      </div>
      {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
      {% if 'A client with this Full name and Phone already exists.' in form.non_field_errors %} 
        <a href="{% url 'datHen:find_client' %}">Go There</a>
        {% else %}
          {% for error in form.non_field_errors %}
          <p class="errorlist"> {{ error}}</p>
          {% endfor %}
      {% endif %}
    </div>
    {% endif %}
      <form action='' method='post'>
        {% csrf_token %}
        <div class="table-responsive">
                
              {% comment %} <div class="form-check">
                {{ form.services | as_crispy_field }}
              </div> {% endcomment %}

              <div class="col-md-4 mb-3">
                <select class="form-select" name="time_at" id="id_time_at" aria-label="Default select example">
                  
                  <option selected>Pick your time:</option>
                  {% for tieng in available %}
                  <option value="{{tieng.hour }}:{{tieng.minute }}">{{tieng.hour }} : {{tieng.minute }}</option>
                  {% endfor %}
                </select>
            </div>

              <div class="form-group col-md-4 mb-3">
                {{ form.full_name | as_crispy_field }}
              </div>

              <div class="form-group col-md-4 mb-3">
                {{ form.phone | as_crispy_field }}
              </div>

              <div class="form-group col-md-4 mb-3">
                {{ form.email | as_crispy_field }}
              </div>

              <div class="form-group col-md-4 mb-3">
                <span class="text-secondary">For alternate choice Status - Anyone</span>
                {{ form.status | as_crispy_field }}
              </div>

              <button class="btn btn-primary w-25" type='submit'> Take </button>
              <button type='submit' class="btn btn-secondary" onclick="window.location='{% url 'ledger:index' %}'; return false; ">Cancel</button>
            
        </div>
        
    </form>
      

    <script>
      var ngay = new Date()
      var gio = ngay.getHours()

    </script>
{% endblock content %}


{% block footer %}
    <strong>Contact Us somewhere</strong>
{% endblock footer %}
 

