{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block nutChinh %}

{% endblock nutChinh %}

{% block heading %}
    <title>Order Successful - DayEarn</title>
{% endblock heading %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-3">Thank You for Your Order!</h1>
            <p class="lead text-muted">
                Your order has been successfully placed. You’ll receive a confirmation email with details soon.
            </p>
           
            <p>
                Ready to explore more services or manage your account? Let’s keep the momentum going!
            </p>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

